

#face {
    float: left;
    position: relative;
    top: 10px;
    margin-right: 10px;
    max-width:  176px;
    padding: 0 2rem 20px 0;
}

img {
    max-width: 100%;
}

/* Past Project Elements */
#projects {
    position: relative;
}
.port-element {
    max-width: 25%;
    float: left;
    margin: 0.5%;
}
